div.menu div.tab1 div.categories div.books {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

/* div.menu div.tab1 div.categories div.books div.book:first-child {
    padding-right: 8.06vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book {
    padding-right: 10.42vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book {
    padding-right: 7.64vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book + div.book {
    padding-right: 2.57vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book + div.book + div.book {
    padding-right: 11.74vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book + div.book + div.book + div.book {
    padding-right: 1.25vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book + div.book + div.book + div.book + div.book {
    padding-right: 3.89vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book + div.book + div.book + div.book + div.book + div.book {
    padding-right: 0.35vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book {
    padding-right: 4.31vw;
}
div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book {
    padding-right: 4.1vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book {
    padding-right: 5.35vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book {
    padding-right: 8.26vw;
}

div.menu div.tab1 div.categories div.books div.book:first-child + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book + div.book {
    padding-right: 9.51vw;
}

div.menu div.tab1 div.categories div.books div.book:last-child {
    padding-right: 6.39vw;
} */

div.menu div.tab1 div.categories div.book {
    display: flex;
    margin: 8px 0;
    cursor: pointer;
}

div.menu div.tab1 div.categories div.books div.book div.nameOfBook {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-right: 6px;
}

div.menu div.tab1 div.categories div.books div.book div.amount {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #A7A7A7;
}