section.main-page div.menu div.tab1 div.active {
    color: #F83600;
}

section.main-page div.menu div.tab2 {
    color: #363636;
}

section.main-page div.menu div.tab3 {
    color: #363636;
}

section.main-page div.menu div.tab1 hr {
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
}

section.main-page div.header div.menu.visible div.linkAndArrow a.links div.books {
    color: #F83600;
}

section.main-page div.header div.menu.visible div.linkAndArrow+hr {
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
}

section.main-page div.header div.menu.visible a.links div.terms {
    color: #363636;
}

section.main-page div.header div.menu.visible a.links div.offer {
    color: #363636;
}

div.menu div.tab1 div.active div.linkAndArrow button.arrowBtn.dropdown div.arrowBtn img {
    content: url('../../components/header/assets/arrow-on.png');
}

div.menu div.tab1 div.categories.dropdown {
    display: block;
}

div.menu div.tab1 div.categories.error {
    display: none;
}

section.main-page div.container {
    display: flex;
    justify-content: center;
}

div.mainBooks {
    margin-top: 47px;
    width: 824px;
}

div.mainBooks div.navigationList {
    display: flex;
    justify-content: space-between;
}

div.mainBooks div.navigationList div.searchWithFilterButton {
    display: flex;
    align-items: center;
}

div.mainBooks div.navigationList div.searchWithFilterButton div.search {
    position: relative;
}

div.mainBooks div.navigationList div.searchWithFilterButton div.search img {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 16px;
    top: calc(50% - 16px/2);
}

div.mainBooks div.navigationList div.searchWithFilterButton div.search input {
    height: 38px;
    width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 599px;
    border: none;
    padding-left: 40px;
    padding-right: 36px;
    caret-color: rgb(248, 54, 0);
}

div.mainBooks div.navigationList div.searchWithFilterButton div.search div.closeSearch {
    display: none;
    position: absolute;
    height: 16px;
    width: 16px;
    right: 16px;
    top: 8px;
}

div.mainBooks div.navigationList div.searchWithFilterButton div.search div.closeSearch button img {
    position: static;
}

div.mainBooks div.navigationList div.searchWithFilterButton div.search div.closeSearch button {
    border: none;
    background: none;
}

div.mainBooks div.navigationList div.searchWithFilterButton div.search.searchOpen input {
    width: 90vw;
    padding-left: 16px;
    height: 32px;
}

div.mainBooks div.navigationList div.searchWithFilterButton div.search.searchOpen img[alt='search'] {
    display: none;
}

div.container div.mainBooks div.navigationList div.searchWithFilterButton.searchOpen,
div.mainBooks div.navigationList div.searchWithFilterButton div.search.searchOpen,
div.mainBooks div.navigationList div.searchWithFilterButton div.search div.closeSearch.searchOpen {
    display: block;
}

div.container div.mainBooks div.navigationList div.searchWithFilterButton.searchOpen div.filterButton {
    display: none;
}

div.mainBooks div.navigationList div.searchWithFilterButton div.search,
div.mainBooks div.navigationList div.searchWithFilterButton div.filterButton {
    cursor: pointer;
}

div.mainBooks div.navigationList div.searchWithFilterButton div.filterButton button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 30px;
    color: #A7A7A7;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 148.2px;
    height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 16.9px;
}

div.mainBooks div.navigationList div.searchWithFilterButton div.filterButton button.rating img {
    content: url('./assets/filter-button-on.png');
}

div.mainBooks div.navigationList div.buttonIcons {
    display: flex;
}

div.mainBooks div.navigationList div.buttonIcons button {
    background: none;
    border: none;
}

div.mainBooks div.navigationList div.buttonIcons div.buttonIcon {
    cursor: pointer;
}

div.mainBooks div.bookIcons {
    display: none;
}

div.mainBooks div.bookIcons.blocksActive {
    margin-top: 32px;
    display: flex;
    gap: 21.3px;
    flex-wrap: wrap;
}

div.mainBooks div.bookIcons.linesActive {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

div.mainBooks div.bookIcons.linesActive div.bookIcon {
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 12px;
    padding: 24px 24px 24px 16px;
}

div.mainBooks div.bookIcons.linesActive div.bookIcon a {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

div.mainBooks div.bookIcons.linesActive div.bookIcon a div.imageOfBook img {
    height: 170px;
    max-width: none;
}

div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all {
    width: 100%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.nameOfBook {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}

div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton div.stars {
    padding-top: 0;
}

div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton div.button button {
    width: 174px;
}

div.mainBooks div.bookIcons.loader {
    display: none;
}

div.mainBooks div.bookIcons.blocksActive div.bookIcon {
    cursor: pointer;
    padding: 8px 0.56vw 16px 0.56vw;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 190px;
    min-height: 559px;
}

div.mainBooks div.bookIcons div.bookIcon div.stars {
    display: flex;
    gap: 0.69vw;
    padding-top: 18px;
    padding-left: 0.14vw;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #A7A7A7;
}

div.mainBooks div.bookIcons.blocksActive div.bookIcon div.stars {
    padding-top: 0;
}

div.mainBooks div.bookIcons div.bookIcon div.nameOfBook {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

div.mainBooks div.bookIcons.blocksActive div.bookIcon div.nameOfBook {
    min-height: 144px;
}


div.mainBooks div.bookIcons div.bookIcon div.author {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #727272;
}

div.mainBooks div.bookIcons.blocksActive div.bookIcon div.author {
    min-height: 36px;
}

div.mainBooks div.bookIcons div.bookIcon div.button {
    text-align: center;
}

div.mainBooks div.bookIcons div.bookIcon div.button button {
    height: 40px;
    width: 166px;
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

div.mainBooks div.bookIcons div.bookIcon div.closed button {
    background: #F9F9FA;
    border: 1px solid #BFC4C9;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #A7A7A7;
}

div.mainBooks div.bookIcons div.bookIcon div.booked button {
    background: #FFFFFF;
    border: 1px solid #BFC4C9;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #363636;
}

div.mainBooks div.bookIcons div.bookIcon div.container {
    display: flex;
}

div.mainBooks div.bookIcons div.bookIcon a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

div.noStars {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A7A7A7;
    min-height: 19px;
}

div.mainBooks div.bookIcons div.bookIcon a div.imageOfBook img {
    height: 242px;
    border: 1px solid #A7A7A7;
    border-radius: 10px;
}

section.main-page.notBurger div.header div.menu.visible {
    display: none;
}

div.blurBackground {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(54, 54, 54, 0.3);
    backdrop-filter: blur(10px);
    z-index: 3;
}

div.blurBackground div.loader {
    position: absolute;
    left: 47.57vw;
    top: 33.13vw;
    animation: loader 1.5s infinite linear;
}

div.mainBooks div.navigationList.loader {
    display: none;
}

div.blurBackground.loading {
    display: block;
}

div.blurBackground.error {
    display: none;
}

div.buttonIcon.blocksActive img {
    content: url('./assets/blocks-on.png');
}

div.buttonIcon.linesActive img {
    content: url('./assets/lines-on.png');
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div.errorMessage {
    width: 1110px;
    height: 80px;
    padding-left: 32px;
    padding-right: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: calc(50% - 1110px/2);
    top: 64px;
    background: #FEEBEA;
    border: 1.5px solid #F42C4F;
    border-radius: 5px;
    z-index: 11;
}

div.errorMessage div.errorText {
    padding-right: 366px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

div.errorMessage div.closeError {
    cursor: pointer;
}

div.errorMessage div.closeError button {
    background: none;
    border: none;
    cursor: pointer;
}

div.errorMessage.closeMessage {
    display: none;
}

div.errorMessage.closeMessage {
    display: none;
}

div.errorMessage {
    display: none;
}

section.main-page div.errorMessage.error {
    display: flex;
}

div.mainBooks div.navigationList.error {
    display: none;
}

div.container div.mainBooks div.bookIcons div.noBooks {
    margin: 0 auto;
    margin-top: 168px;
    margin-bottom: 476px;
    color: #A7A7A7;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

@media (min-width: 769px) and (max-width: 1160px) {
    div.container div.menu {
        display: none;
    }

}

@media (max-width: 768px) {
    div.container div.menu {
        display: none;
    }

    div.container div.mainBooks div.bookIcons.blocksActive {
        display: flex;
        flex-wrap: wrap;
    }

    div.container div.mainBooks div.bookIcons.blocksActive {
        width: 83.33vw;
    }

    div.container div.mainBooks {
        margin-top: 32px;
    }

    div.container div.mainBooks div.navigationList {
        margin-left: 8.33vw;
        width: 83.33vw;
    }

    div.container div.bookIcons.blocksActive {
        margin-top: 24px;
        margin-left: 8.33vw;
        gap: 4.43vw;
    }

    div.mainBooks div.bookIcons.blocksActive div.bookIcon div.nameOfBook {
        padding-top: 28px;
        padding-bottom: 17px;
    }

    div.mainBooks div.bookIcons.blocksActive div.bookIcon div.button {
        padding-top: 28px;
    }

    div.container div.bookIcons div.bookIcon {
        width: 24.74vw;
    }

    div.container div.bookIcons div.bookIcon div.button button {
        width: 21.61vw;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
    }

    div.blurBackground div.loader {
        top: 52.96vw;
        left: 47.14vw;
    }

    div.blurBackground div.loader img {
        width: 44px;
        height: 44px;
    }

    div.errorMessage {
        width: 83.33vw;
        left: 8.33vw;
        padding-left: 2.08vw;
        padding-right: 2.08vw;
    }

    div.errorMessage div.errorText {
        padding-right: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    div.errorMessage div.icon img {
        width: 24px;
        height: 24px;
        max-width: none;
    }

    div.errorMessage div.closeError img {
        width: 16px;
        height: 16px;
        max-width: none;
    }

    div.mainBooks div.bookIcons.linesActive {
        width: 83.33vw;
        margin: 0 auto;
        margin-top: 24px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon {
        width: 83.33vw;
    }

    div.container div.mainBooks div.bookIcons div.noBooks {
        margin-top: 202px;
    }
}

@media (min-width: 769px) and (max-width: 1160px) {
    div.errorMessage {
        width: 83.33vw;
        height: 72px;
        left: 8.33vw;
        padding-left: 2.08vw;
        padding-right: 2.08vw;
    }

    div.errorMessage div.errorText {
        padding-right: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    div.mainBooks div.bookIcons.linesActive {
        width: 83.33vw;
        margin: 0 auto;
        margin-top: 24px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon {
        width: 83.33vw;
    }

    div.container div.mainBooks div.bookIcons div.noBooks {
        margin-top: 202px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    div.menu {
        display: none;
    }

    div.container div.mainBooks div.bookIcons.blocksActive {
        display: flex;
        flex-wrap: wrap;
    }

    div.mainBooks div.bookIcons.blocksActive div.bookIcon div.nameOfBook {
        padding-top: 28px;
        padding-bottom: 17px;
    }

    div.mainBooks div.bookIcons.blocksActive div.bookIcon div.button {
        padding-top: 28px;
    }

    div.container div.mainBooks div.bookIcons {
        width: 83.33vw;
    }

    div.container div.mainBooks {
        margin-top: 32px;
    }

    div.container div.mainBooks div.navigationList {
        margin-left: 8.33vw;
        width: 83.33vw;
    }

    div.container div.bookIcons {
        margin-top: 24px;
        margin-left: 8.33vw;
        gap: 4.43vw;
    }

    div.container div.bookIcons div.bookIcon {
        width: 24.74vw;
    }

    div.container div.bookIcons div.bookIcon div.button button {
        width: 21.61vw;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
    }

    div.blurBackground div.loader {
        top: 52.96vw;
        left: 47.14vw;
    }

    div.blurBackground div.loader img {
        width: 44px;
        height: 44px;
    }

    div.errorMessage {
        width: 83.33vw;
        left: 8.33vw;
        padding-left: 2.08vw;
        padding-right: 2.08vw;
    }

    div.errorMessage div.errorText {
        padding-right: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    div.errorMessage div.icon img {
        width: 24px;
        height: 24px;
        max-width: none;
    }

    div.errorMessage div.closeError img {
        width: 16px;
        height: 16px;
        max-width: none;
    }
}

@media (min-width: 321px) and (max-width: 2560px) {
    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton {
        display: none;
    }
}

@media (max-width: 320px) {
    div.container div.mainBooks {
        margin-top: 35px;
        width: 90vw;
    }

    div.container div.mainBooks div.navigationList div.searchWithFilterButton {
        display: none;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton {
        display: flex;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton div.miniSearch button {
        border: none;
        background: none;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton.searchOpen,
    div.container div.mainBooks div.navigationList div.buttonIcons.searchOpen {
        display: none;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick {
        display: none;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick.searchOpen {
        display: block;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick input {
        height: 32px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
        border-radius: 599px;
        border: none;
        padding-left: 16px;
        padding-right: 36px;
        width: 90vw;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick {
        position: relative;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick div.closeSearch {
        position: absolute;
        width: 16px;
        height: 16px;
        right: 16px;
        top: 8px;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick div.closeSearch button {
        border: none;
        background: none;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton div.miniSearch img,
    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton div.miniFilter img,
    div.container div.mainBooks div.navigationList div.buttonIcons div.buttonIcon img {
        height: 32px;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton div.miniFilter button {
        background: none;
        border: none;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton div.miniFilter button.rating img {
        content: url('./assets/mini-filter-on.png');
    }

    div.container div.bookIcons.blocksActive {
        margin-top: 19px;
        margin-left: 5vw;
    }

    div.container div.bookIcons.blocksActive div.bookIcon {
        padding: 5vw;
        width: 90vw;
        height: 470px;
    }

    div.container div.bookIcons div.bookIcon div.imageOfBook {
        display: flex;
        justify-content: center;
    }

    div.container div.bookIcons div.bookIcon div.button button {
        width: 80vw;
    }

    div.container div.bookIcons div.bookIcon div.stars {
        gap: 3.13vw;
    }

    div.blurBackground div.loader {
        top: 85.31vw;
        left: 46.56vw;
    }

    div.blurBackground div.loader img {
        width: 22px;
        height: 22px;
    }

    div.errorMessage {
        align-items: flex-start;
        width: 87.5vw;
        height: 78px;
        left: 6.25vw;
        padding-top: 12px;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    div.errorMessage div.errorText {
        padding-left: 3.75vw;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    div.mainBooks div.bookIcons.linesActive {
        margin-left: 5vw;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon {
        padding: 16px 16px 16px 8px;
        width: 90vw;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.imageOfBook img {
        height: 100px;
        max-width: 70px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all {
        padding-left: 8px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.nameOfBook {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        padding-left: 0;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.author {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton {
        flex-direction: column;
        padding: 0;
        align-items: flex-start;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton div.stars {
        padding-top: 4.33px;
        padding-bottom: 4.33px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton div.stars div.star img {
        height: 12.67px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton div.button button {
        width: 186px;
    }

    div.mainBooks div.bookIcons.blocksActive div.bookIcon div.nameOfBook {
        padding-top: 0;
        padding-bottom: 0;
    }

    div.mainBooks div.bookIcons.blocksActive div.bookIcon div.nameOfBook {
        min-height: 72px;
    }

    div.mainBooks div.bookIcons.blocksActive div.bookIcon div.button {
        padding-top: 0;
    }

    div.container div.bookIcons.blocksActive {
        margin-left: 5vw;
    }

    div.container div.mainBooks div.bookIcons div.noBooks {
        margin-top: 118px;
        margin-bottom: 90px;
        font-size: 18px;
        line-height: 28px;
    }

    div.container div.mainBooks div.navigationList {
        margin-left: 5vw;
        width: 90vw;
    }
}

@media (min-width: 321px) and (max-width: 767px) {
    div.container div.mainBooks {
        margin-top: 35px;
        width: 90vw;
    }

    div.container div.mainBooks div.navigationList div.searchWithFilterButton {
        display: none;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton {
        display: flex;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton div.miniSearch img,
    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton div.miniFilter img,
    div.container div.mainBooks div.navigationList div.buttonIcons div.buttonIcon img {
        height: 32px;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton div.miniFilter button {
        background: none;
        border: none;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton div.miniFilter button.rating img {
        content: url('./assets/mini-filter-on.png');
    }

    div.container div.bookIcons {
        margin-top: 19px;
        margin-left: 5vw;
    }

    div.container div.bookIcons.blocksActive div.bookIcon {
        padding: 5vw;
        width: 90vw;
        height: 470px;
    }

    div.container div.bookIcons div.bookIcon div.imageOfBook {
        display: flex;
        justify-content: center;
    }

    div.container div.bookIcons div.bookIcon div.button button {
        width: 80vw;
    }

    div.container div.bookIcons div.bookIcon div.stars {
        gap: 3.13vw;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton div.miniSearch button {
        border: none;
        background: none;
    }

    div.container div.mainBooks div.navigationList div.miniSearchWithFilterButton.searchOpen,
    div.container div.mainBooks div.navigationList div.buttonIcons.searchOpen {
        display: none;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick {
        display: none;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick.searchOpen {
        display: block;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick input {
        height: 32px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
        border-radius: 599px;
        border: none;
        padding-left: 16px;
        padding-right: 36px;
        width: 90vw;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick {
        position: relative;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick div.closeSearch {
        position: absolute;
        width: 16px;
        height: 16px;
        right: 16px;
        top: 8px;
    }

    div.container div.mainBooks div.navigationList div.searchAfterClick div.closeSearch button {
        border: none;
        background: none;
    }

    div.container div.mainBooks div.navigationList {
        margin-left: 5vw;
        width: 90vw;
    }

    div.blurBackground div.loader {
        top: 85.31vw;
        left: 46.56vw;
    }

    div.blurBackground div.loader img {
        width: 22px;
        height: 22px;
    }

    div.errorMessage {
        align-items: flex-start;
        width: 87.5vw;
        height: 78px;
        left: 6.25vw;
        padding-top: 12px;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    div.errorMessage div.errorText {
        padding-left: 3.75vw;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    div.mainBooks div.bookIcons.linesActive {
        margin-left: 5vw;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon {
        padding: 16px 16px 16px 8px;
        width: 90vw;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.imageOfBook img {
        height: 100px;
        max-width: 70px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all {
        padding-left: 8px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.nameOfBook {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        padding-left: 0;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.author {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton {
        flex-direction: column;
        padding: 0;
        align-items: flex-start;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton div.stars {
        padding-top: 4.33px;
        padding-bottom: 4.33px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton div.stars div.star img {
        height: 12.67px;
    }

    div.mainBooks div.bookIcons.linesActive div.bookIcon a div.all div.starsWithButton div.button button {
        width: 186px;
    }

    div.mainBooks div.bookIcons.blocksActive div.bookIcon div.nameOfBook {
        padding-top: 0;
        padding-bottom: 0;
    }

    div.mainBooks div.bookIcons.blocksActive div.bookIcon div.nameOfBook {
        min-height: 72px;
    }

    div.mainBooks div.bookIcons.blocksActive div.bookIcon div.button {
        padding-top: 0;
    }

    div.container div.bookIcons.blocksActive {
        margin-left: 5vw;
    }

    div.container div.mainBooks div.bookIcons div.noBooks {
        margin-top: 118px;
        margin-bottom: 90px;
        font-size: 18px;
        line-height: 28px;
    }

    div.container div.mainBooks div.navigationList {
        margin-left: 5vw;
        width: 90vw;
    }
}

@media (min-width: 426px) and (max-width: 2560px) {
    div.container div.mainBooks div.navigationList div.searchAfterClick {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 769px) {
    section.main-page div.container {
        justify-content: flex-start;
    }
}

@media (min-width: 968px) and (max-width: 1023px) {

    section.main-page div.container div.mainBooks div.navigationList,
    section.main-page div.container div.mainBooks div.bookIcons {
        width: 81vw;
    }
}

@media (min-width: 1441px) and (max-width: 2560px) {
    div.blurBackground div.loader {
        top: 477px;
    }
}