div.swiper {
    width: 445px;
    margin-top: 17px;
    overflow: hidden;
}

div.mainSlider {
    margin: 0;
}

div.swiper-wrapper {
    display: flex;
}

div.swiper div.swiper-scrollbar div.swiper-scrollbar-drag:first-child {
    display: none;
}

div.swiper div.swiper-scrollbar {
    width: 445px;
    left: 165px;
    top: 940px;
}

div.swiper div.swiper-pagination {
    display: none;
}

div.miniSlider div.swiper-wrapper div.swiper-slide-thumb-active img {
    border: #F83600 solid 1px;
    border-radius: 5px;
    height: 86px;
}

div.miniSlider div.swiper-wrapper div.swiper-slide-visible img {
    height: 86px;
}

div.mainSlider div.swiper-wrapper div.swiper-slide img {
    width: 445px;
}

@media (max-width: 1023px) {
    div.swiper div.swiper-pagination {
        display: block;
    }
    div.miniSlider {
        display: none;
    }
    div.swiper div.swiper-scrollbar {
        display: none;
    }
    div.mobileSlider div.swiper-pagination {
        top: 438px;
        left: -30.76vw;
    }
    div.mobileSlider {
        width: 136px;
        height: 198px;
        margin: 0;
    }
    div.swiper div.swiper-pagination span.swiper-pagination-bullet-active {
        background: #363636;
    }
    div.mainSlider div.swiper-wrapper div.swiper-slide img {
        width: 136px;
    }
}

@media (max-width: 320px) {
    div.swiper div.swiper-pagination {
        display: block;
    }
    div.mobileSlider {
        width: 188px;
        height: 259px;
        margin: 0;
        margin-bottom: 36px;
    }
    div.mobileSlider div.swiper-pagination {
        top: 476px;
        left: 0;
    }
    div.mainSlider div.swiper-wrapper div.swiper-slide img {
        width: 188px;
    }
}

@media (min-width: 321px) and (max-width: 767px) {
    div.swiper div.swiper-pagination {
        display: block;
    }
    div.mobileSlider {
        width: 188px;
        height: 259px;
        margin: 0;
        margin-bottom: 36px;
    }
    div.mobileSlider div.swiper-pagination {
        top: 476px;
        left: 0;
    }
    div.mainSlider div.swiper-wrapper div.swiper-slide img {
        width: 188px;
    }
}

@media (min-width: 1920px) and (max-width: 2560px) {
    div.swiper div.swiper-scrollbar {
        left: 397px;
    }
}

@media (min-width: 2560px) {
    div.swiper div.swiper-scrollbar {
        left: 725px;
    }
}